.home_container_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .left_home_div{
    width: 100%;
    max-width: 60%;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
  }
  .right_home_div{
    width: 100%;
    max-width: 40%;
    min-width: 40%;
    display: flex;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: center;
  }
  .right_phone{
    width: 100%;
    max-width: 53%;
    min-width: 53%;
    border: 1px solid black;
    border-radius: 45px;
    padding: 35px 15px;
  }
  .right_phone h3{
    font-family: Poppins;
    font-size: 24px;
    color: black;
     margin-top: 20px;
  }
  .right_phone h6{
    font-family: Poppins;
    font-size: 14px;
    color: #8E8E90;
  }
  .right_phone_small_img_wrapper{
    width: 100%;
    max-width: 35%;
    min-width: 35%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .right_small_img1{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 230px;
    border-radius: 20px;
  }
  .right_small_img1 img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .left_home_content_div{
    margin-top: 40px;
  }
  .left_home_content_div p{
    width: fit-content;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: rgb(237, 51, 38);
    border: 1px solid rgb(145, 145, 145);
    color: white;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(160, 160, 160);
    font-size: 14px;
  }
  .left_home_content_div h1{
    font-family: Poppins;
  font-size: 55px;
  font-weight: 600;
  line-height: 70px;
  }
  .left_home_content_div h1 span{
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    color: white;
    width: fit-content;
    padding: 5px 12px;
    border-radius: 30px;
    background-color: rgb(237, 51, 38);
    border: 1px solid rgb(145, 145, 145);
  }
  .left_small_phone_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
  }
  .small_phone_div{
    width: 100%;
    max-width: 21%;
    min-width: 21%;
    height: 200px;
    background-image: url('../../assets/Group 4534342.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 1px solid black;
    padding: 15px 15px
  }
  .small_phone_div p{
    font-family: Poppins;
    font-size: 14px;
    color: white;
  }
  .small_phone_div_stars_wrapper{
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: end;
    column-gap: 8px;
  }
  .small_phone_div_stars_wrapper i{
    color: white;
    font-size: 14px;
  }
  .small_phone_details_div p{
    font-family: Poppins;
    font-size: 15px;
    width: 100%;
    max-width: 73%;
    min-width: 73%;
    color: #9AA1A8;
    line-height: 26px;
  }
  .trading_btn_wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px
  }
  .trading_btn_wrapper button{
    padding: 10px 20px;
    border-radius: 30px;
    color:white;
    background-color: rgb(242, 45, 53);
    border: none;
    font-size: 14px;
  }
  .yellow_circle{
    width: 100%;
    max-width: 45px;
    min-width: 45px;
    height: 45px;
    background-color: rgb(250, 226, 28);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .yellow_circle img{
    width: 100%;
    max-width: 20px;
    min-width: 20px;
  }
  .simple_advanced_div{
    width: 100%;
    max-width: fit-content;
    min-width: fit-content;
    
    border: 1px solid rgb(220, 44, 29);
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .simple_advanced_div2{
    width: 100%;
    max-width: fit-content;
    min-width: fit-content;
    border: 1px solid rgb(220, 44, 29);
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-inline: auto;
    margin-top: 25px;
  }
  .simple_advanced_div2 .active_not {
    font-family: Poppins;
    font-size: 16px;
    color: white;
    padding: 6px 20px;
    border-radius: 30px;
    color:black;
    margin: 0;
    transition: 0.2s linear all;
  }
  .simple_advanced_div2 .active {
    font-family: Poppins;
    font-size: 16px;
    color: white;
    padding: 6px 20px;
    border-radius: 30px;
    color:white;
    margin: 0;
    transition: 0.2s linear all;
    background-color: rgb(242, 45, 53);
  }
  .simple_advanced_div2 p:hover{
    background-color: rgb(242, 45, 53);
    color: white;
    
  }
  .simple_advanced_div .active_not {
    font-family: Poppins;
    font-size: 13px;
    color: white;
    padding: 4px 12px;
    border-radius: 30px;
    color:black;
    margin: 0;
    transition: 0.2s linear all;
  }
  .simple_advanced_div .active {
    font-family: Poppins;
    font-size: 13px;
    color: white;
    padding: 4px 12px;
    border-radius: 30px;
    color:white;
    margin: 0;
    transition: 0.2s linear all;
    background-color: rgb(242, 45, 53);
  }
  .simple_advanced_div p:hover{
    background-color: rgb(242, 45, 53);
    color: white;
  }
  .phone_inside_img{
    height: 270px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    background-color: #9AA1A8;
    border-radius: 30px;
    margin-top: 20px;
  }
  .phone_inside_img img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  .phone_bottom_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 20px;
  }
  .phone_bottom_wrapper p{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
  }
  .phone_bottom_wrapper span{
    width: fit-content;
    padding: 3px 15px;
    border-radius: 15px;
    background-color: black;
    color: white;
    border: 1px solid rgb(237, 51, 38);
    font-size: 14px
  }
  .total_trades_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding-bottom: 70px
  }
  .trade_div_1{
    width: 100%;
    max-width: 32%;
    min-width: 32%;
    border-radius: 15px;
    background-color: rgb(242, 45, 53);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .trade_div_1 h1{
    font-family: Poppins;
    font-size: 40px;
    color: white;
    margin: 0;
    font-weight: 600;
  }
  .trade_div_1 p{
    font-family: Poppins;
    font-size: 15px;
    color: white;
    margin: 0;
    font-weight: 500;
  }
  .home_market_wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
    margin-top: 50px;
  }
  .left_market_div{
    width: 100%;
    max-width: 48%;
    min-width: 48%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 150px 200px; */
    grid-template-rows: 233px 236px 180px;
    gap: 20px;
  }
  .left_market_div252{
    width: 100%;
    max-width: 48%;
    min-width: 48%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 150px 200px; */
    grid-template-rows: 233px 236px;
    gap: 20px;
  }
  .right_market_div{
    width: 100%;
    max-width: 47%;
    min-width: 47%;
  }
  .left_market_div1{

border: 1px solid black;
    border-radius: 15px;
    padding: 15px 15px;
    grid-row: 1/3;
  }
  .left_market_div2{
    border: 1px solid black;
    border-radius: 15px;
    padding: 0px 15px;
  }

  .left_market_div3{
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px 15px;
  }
  .left_market_div4{
    border: 1px solid black;
    border-radius: 15px;
    padding: 0px 15px;
    grid-column: 1/3;
  }
  .right_market_div p{
    width: fit-content;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: rgb(237, 51, 38);
    border: 1px solid rgb(145, 145, 145);
    color: white;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(160, 160, 160);
    font-size: 14px;
  }
  .right_market_div h1{
    font-family: Poppins;
  font-size: 39px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: -5px;
  }
  .right_market_div h1 span{
    font-family: Poppins;
    font-size: 22px;
    font-weight: 400;
    color: white;
    width: fit-content;
    padding: 5px 12px;
    border-radius: 30px;
    background-color: rgb(237, 51, 38);
    border: 1px solid rgb(145, 145, 145);
  }
  .span_para{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
color: rgba(117, 122, 126, 1);
line-height: 25px;
margin-top: 35px !important;
  }
  .guide_lines_div_wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px 100px 20px 20px;
    width: fit-content;
    margin-top: 20px;
  }
  .list_one_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
  }
  .list_one_div img{
    width: 100%;
    max-width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .list_one_div span{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;

  }
  .core_principles_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
  }
  .platform_button{
    width: fit-content;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: rgb(237, 51, 38);
    border: 1px solid rgb(145, 145, 145);
    color: white;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 0px 5px rgb(160, 160, 160);
    font-size: 14px;
  }
  .solutions_head{
    font-family: Poppins;
font-size: 40px;
font-weight: 600;
text-align: center;
margin-bottom: 20px;
  }
  .solutions_head_para{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
text-align: center;
color: rgba(154, 161, 168, 1);
line-height: 25px;
  }
  .challenged_div_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    
  }
  .left_challenged_div{
    width: 100%;
    max-width: 46%;
    min-width: 46%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .left_challenge{
    display: flex;
    justify-content: space-between;
  
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
  }
  .left_challenge p{
    font-family: Poppins;
    font-size: 12px;
    width: 100%;
    max-width: 85%;
    min-width: 85%;
  }
  .challenge_img{
    width: 50px;
    height: 60px;
  }
  .challenge_img img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
  }
  .right_challenged_div{
    width: 100%;
    max-width: 50%;
    min-width: 50%;
  }
  .right_challenged_div img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
  }
  .get_started_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
  }
  .margin_bottom_none{
    margin-bottom: 10px !important;
  }
  .compromise_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .left_compromise_div{
    width: 100%;
    max-width: 47%;
    min-width: 47%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .compromise_logo{
    width: 100%;
    max-width: 55px;
    height: 55px;
    background-color: rgb(220, 44, 29);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
  }
  .left_compromise{
    column-gap: 25px;
  }
  .compromise_details{
    width: 100%;
    max-width: 86%;
    min-width: 86%;
  }
  .compromise_details h3{
    font-family: Poppins;
font-size: 25px;
font-weight: 400;
  }
  .compromise_details p{
font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    margin-top: -5px;
  }
  .right_compromise_div{
    width: 100%;
    max-width: 45%;
    min-width: 45%;
    display: flex;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: center;
  }
  .beginner_wrapper{
    padding-bottom: 100px;
  }
  .guides_card_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .guide_card_1{
    width: 100%;
    max-width: 31%;
    min-width: 31%;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 10px;
  padding: 30px 20px;
  }
  .guide_card_2{
    width: 100%;
    max-width: 31%;
    min-width: 31%;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 10px;
    padding: 30px 20px;
  }
  .guide_card_3{
    width: 100%;
    max-width: 31%;
    min-width: 31%;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 10px;
    padding: 30px 20px;
  }
  .img_div_656{
    width: 100%;
    max-width: 85%;
    min-width: 85%;
    height: 220px;
    background-color: aqua;
    margin-inline: auto;
  }
  .img_div_656 img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
  }
  .card_head{
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
margin-top: 20px;
  }
  .card_para{
    font-family: Poppins;
font-size: 13px;
font-weight: 400;
color: rgba(142, 142, 144, 1);
line-height: 23px;
margin-top: 10px;
  }
  .footer_wrapper{

    background-color: rgb(38, 45, 64);
  }
  .footer_content_Wrapper{
    display: flex;
    justify-content: space-between;
    
  }
  .footer_div2{
    width: 100%;
    max-width: 60%;
    min-width: 60%;
    display: flex;
    justify-content: space-between;
  }
  .footer_div_content_1{
    width: 100%;
    max-width: 30%;
    min-width: 30%;
    padding: 150px 0px 50px 0px;
  }
  .footer_div_content_1 p{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
color: rgba(184, 182, 186, 1);
margin-top: 20px;

  }
  .footer_div_content_1 h6{
    font-family: Poppins;
font-size: 15px;
font-weight: 500;
color: rgba(184, 182, 186, 1);

  }
  .footer_div1{
    width: 100%;
    max-width: 25%;
    min-width: 25%;
    padding: 120px 0px;
  }
  .footer_logo_img{
    width: 100%;
    max-width:180px;
    min-width:180px;
    margin-bottom: 50px;
    ;
  }
  .footer_logo_img img{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .footer_div1 p {
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
color: white;
margin-bottom: 30px;
  }
  .footer_social_media{
    display: flex;
    column-gap: 15px;
  }
  .footer_social_media i{
    color: rgba(190, 190, 190, 1);
    font-size: 18px;
  }
  @media(max-width:1400px){
    .right_phone{
      width: 100%;
      max-width: 58%;
      min-width: 58%;
    }
    .home_container_wrapper{
      column-gap: 20px;
    }
  }